@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

#Container {
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

#Container h3 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin-bottom: 30px;
}

#Container a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: all 0.5s ease;
}

#Container p {
  padding: 2vh 40vh 2vh;
  font-size: 2vh;
  margin: 1em;
  border: 1px solid #fff;
  transition: all 0.5s ease;
}

#Container img {
  border-radius: 1000px;
  width: 15vh;
  margin-bottom: 40px;
  margin-left: 48.3vh;
}

#Container p:hover {
  background-color: #fff;
}

#Container a:hover {
  color: #000;
}

@media screen and (max-width: 1000px) {
  #Container p {
    padding: 2vh 7vh 2vh;
    font-size: 3vh;
    margin: 1em;
    border: 1px solid #fff;
  }
  #Container .img1 {
    margin-left: 48.3vh;

  }
}

html, body {
    height: 100%; }
  
