* {
    cursor: crosshair;
}

#Container {
    text-align: center;
}

#Container-Logo img {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    transition: transform 0.5s ease;
}

#Container-Logo img:hover {
    transform: scale(1.2);
}

#Container-Social-Media {
    display: grid;
}

#Container-Social-Media a {
    text-decoration: none;
    color: white;
    font-family: "New Amsterdam", sans-serif;
    font-size: 30px;
    padding: 22px;
    background-color: #fff;
    margin: 40px 30% 30px;
    color: #000;
}

#Container-Social-Media a:hover {
    text-decoration: none;
    color: white;
    font-family: "New Amsterdam", sans-serif;
    font-size: 30px;
    padding: 22px;
    background-color: #ff9f43;
    margin: 40px 30% 30px;
    color: #fff;
}

#Container-Social-Media img {
    width: 30px;
    height: 30px;
}

#Container-Text-Steam p {
    font-family: "New Amsterdam", sans-serif;
    font-size: 30px;
    color: #fff;
}