@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

* {
    background-color: black;
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
}

#Header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#Header a {
    text-decoration: none;
    color: white;
    font-family: "New Amsterdam", sans-serif;
    font-size: 30px;
    margin: 20px;
    transition: color 0.5s ease;
}

#Header div {
    display: flex;
}

#Header a:hover {
    color: #ff9f43;
}

/* Device Screen */

/* Responsive design for small screens */
@media only screen and (max-width: 600px) {
    #Header a {
        font-size: 20px 
    }
};

/* Responsive design for large screens */
@media only screen and (min-width: 1024px) {
    #Header a {
        font-size: 25px 
    }
};